[submodule "site-lisp/rhtml"]
	path = site-lisp/rhtml
	url = http://github.com/eschulte/rhtml.git
[submodule "site-lisp/wanderlust"]
	path = site-lisp/wanderlust
	url = http://github.com/wanderlust/wanderlust.git
	ignore = dirty
[submodule "site-lisp/html5-el"]
	path = site-lisp/html5-el
	url = https://github.com/hober/html5-el.git
