ac-comphist.dat
semanticdb/*
org-clock-save.el
auto-save-list/*
bak/*
elpa/*
ext/*
url/*
var/*
tramp
.places
abbrev_defs
tutorial/*
*.elc
emms
/projectile-bookmarks.eld
/scheme-tags
/eshell/history
/eshell/lastdir
/helm-adaptive-history
/.Dans-chicken-scheme-symbols-dump.el
/.org-id-locations
font.el
